page-umakos {
    .button {
        border: 1px solid;
        border-radius: 100%;
    }
    .ion-icon {
        height: 100px;
        width: 100px;
    }
    .fabbuttom {
        display: scroll;
        position: fixed;
        margin: 0px 0px 60px 0px 
    }
    .img {
        position: top;
        width: 100px;
        height: 40px;
        background-color: transparent;
        align-content: center;
    }
}